.background {
  padding: 4rem 0rem;
  background: #FAF8F6;
}

.body-one-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.body-one-wrapper {
  position: relative;
}
.img-body-section {
  width: 100%;
}

.body-one-wrapper video {
  width: 100%;
  position: none;
}

.set-relative {
  position: relative;
}

.set-absolute {
  position: absolute;
  bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.copy h2 {
  font-weight: bold;
  text-align: center;
  font-family: Alegreya;
  font-size: 33px;
  color: white;
}

.copy div {
  font-weight: 900;
  text-align: center;
  font-family: MontserratMedium, Verdana, Arial, sans-serif;
  color: #fff;
  font-size: 13px;
}

.buttons{
  display: flex;
  justify-content: center;
}

.buttons .btn--large{
  padding: 10px 30px;
  margin: 14px 3px;
  font-size: medium;
  font-weight: bold;
  font-family: Alegreya;
}

.copy {
  align-self: center;
}

/* .buttons a {
  background: #fff;
  border-color: #fff;
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 0;
  margin: 0 3.75px 8.5px;
  min-width: 105px;
  width: calc(50% - 10px);
  vertical-align: middle;
  text-align: center;
  color: #000;
  font-family: MontserratSemiBold, Verdana, Arial, sans-serif;
  text-decoration: none;
} */

.body-two-container {
  margin-top: 55px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.body-two-wrapper {
  position: relative;
}

.body-two-wrapper img {
  width: 100%;
}

.body-three-container {
  padding: 0 120px;
  margin-top: 55px;
}

.body-three-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.body-three-wrapper > div {
  padding-bottom: 20px;
}

.set-center img{
  max-width: 209px;
  /* max-height: 209px; */
  margin: 0px 15px;
}

.set-center{
  display: flex;
}

.body-four-container{
  padding: 0px 150px;
  margin-top: 60px;
}

.body-four{
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

.suggest-box{
  display: flex;
  margin-top: 33px; 
}

.suggest-box input{
  padding: 0 48px;
}

.button-send{
  background-color: #fff;
  width: 120px;
  height: 40px;
  border: 1px solid #757575;
  margin-left: 20px;
}

.button-send a{
  font-family: Alegreya;
  color: #242424;
  font-weight: bold;
  font-size: 18px;
}

.button-send:hover{
  background-color: #242424;
}

.button-send:hover a{
  color: white;
}