.client-table-headers,
.client-table-rows {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
}

.client-table-headers {
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid #d2d2d2;
  padding: 20px 20px;
}

.client-table-rows .client-table-cell {
  display: flex;
  align-items: center;
}

.primary-btn {
  background: #173451;
  color: white;
}
.primary-btn:hover {
  background: #224e79;
  color: white;
}

.status-container{
  padding: 40px;
}

.client-content-table{
  border: 1px solid #d2d2d2;
}

.client-table-rows{
  border: 1px solid #d2d2d2;
  padding: 20px 20px;
  background-color: #F4F4F4;
}