*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.video-container {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px #00000033;
}

.video-container > h3 {
    color: #fff;
    font-size: 63px;
    align-items: center;
    font-family: LibreBaskervilleBold,Georgia,Times,serif;
}

.video-container > p {
    margin-top: -45px;
    color: #fff;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.video-btns {
    margin-top: 32px;
}

.video-btns .btn {
    margin: 6px;
}

@media screen and (max-width: 960px) {
    .video-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .video-container > h3 {
        font-size: 37px;
    }

    .video-container > p {
        margin-top: -27px;
        font-size: 15px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}